body {
  position:absolute;
  margin: 0;
  padding: 0;
  font-family: Google Sans, Noto, Roboto, Helvetica Neue, sans-serif;
  color: #244376;
  
}

#card {
  margin: 3em auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

model-viewer {
  width: 100%;
  height: 400px;
}

.attribution {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
 
}

.attribution h1 {
  margin: 0 0 0.25em;
}

.attribution img {
  opacity: 0.5;
  height: 2em;
}

.attribution .cc {
  flex-shrink: 0;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-style: italic;
  line-height: 1.5em;
}


#request-press-play {
  position:absolute;
  width:40%;
  height:40px;
  margin:0 auto 0 auto;
  top:20%; left:0; right:0;
  z-index:1000;
}

#request-press-play button {
  padding:20px;
  margin:5px;
  border-radius:0px;
  font-size: 20px;
  width:100%;
}

.hide {
  display:none;
}

#overlay {
  position:absolute;
  z-index:1000;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#00000099;
}





