body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.none {
    display: none;
}

.footer {
    position: fixed;
    bottom: 45px;
    z-index: 100;

    width: 100%;
    text-align: center;
}

.mainCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
}