---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<title>Document</title>
	<!-- <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
	<script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script> -->
	<script src="https://aframe.io/releases/1.1.0/aframe.min.js"></script>
	<script src="https://unpkg.com/aframe-orbit-controls@1.2.0/dist/aframe-orbit-controls.min.js"></script> 
	<script src="./index.js"></script>
</head>
<body>
	<section aria-roledescription="carousel" aria-label="XR Demo Reel">
		<h2 style="text-align: left;display: inline-block;padding: 0; position: absolute;">Demos</h2>
		<a-scene embedded style="position: absolute;">
			<a-camera look-controls orbit-controls="target: 0 0 0; enablePan: false; minDistance: 0.5; maxDistance: 4; initialPosition: 1 0.2 1">
			</a-camera>
			<a-entity id="lazy-susan" position="0 0 5" data-rotate-by="{{ 360.0| divided_by: site.demos.size }}">
				{% for demo in site.demos %}
				<a-entity
					data-rotation="{{ 360.0 | times: forloop.index0 | divided_by: forloop.length }}"
					rotation="0 {{ 360.0 | times: forloop.index0 | divided_by: forloop.length }} 0"
				>
					<a-entity position="0 0 -5">
						{{ demo.aframe }}
					</a-entity>
				</a-entity>
				{% endfor %}
			</a-entity>
		</a-scene>
		<div class="carousel-controls">
			<button aria-controls="carousel-items" id="prev-slide" aria-label="Previous Demo">&lt;</button>
			<button aria-controls="carousel-items" id="next-slide" aria-label="Next Slide">&gt;</button>
		</div>
		<div id="carousel-items">
			{% for demo in site.demos reversed %}
			<div class="carousel-item" id="{{ demo.title | slugify }}" aria-label="{{ forloop.index }} of {{ forloop.length }}" role="group" aria-roledescription="slide">
				<div class="carousel-caption">
					<!-- <h3><a href="{{ demo.url }}">{{ demo.title }}</a></h3> -->
					<p>{{ demo.content }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</section>
	<main>
		<h2 style="transform: rotate(1deg);">Blog</h2>
		{% for post in site.posts %}
		{% if post.link %}
			<h3><a class="article-link" href="{{ post.link }}" target="_blank" rel="noopener">{{ post.title }}</a> <span title="External Link" style="font-size: 80%; color: #aaa;">{% if post.external %}🔗 {{ post.external }} {% endif %}</span></h3>
				<article><p>{{ post.description }}</p></article>
			<time>{{ post.date | date_to_string }}</time>
		{% else %}
			<h3><a class="article-link" href="{{ post.url }}">{{ post.title }}</a></h3>
			<article><p>{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt }}{% endif %}</p></article>
			<time>{{ post.date | date_to_string }}</time>
		{% endif %}
		{% endfor %}
	</main>
</body>
</html>