
@font-face {
    font-family: 'LG Smart';
    font-style: normal;
    font-weight: normal;
    src: local('LG Smart'), url('./font/LG Smart Regular.woff') format('woff');
    }
    
@font-face {
    font-family: 'LG Smart Bold';
    font-style: normal;
    font-weight: normal;
    src: local('LG Smart Bold'), url('./font/LG Smart Bold.woff') format('woff');
    }
   
body {
    font-family: 'LG Smart';
    -webkit-text-size-adjust: 100%; 
    -moz-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
}

model-viewer {
    --ar-button-display: none;
    background-color: #eee;
    overflow-x: hidden;
    --poster-color: #eee;
    height: 50%;
    width: auto;
}
.btn-primary {
    background-color: #b2073b;
    border-color:  #b2073b;
    
    border-radius: 40px;
}
.hide 
{
    display:none;
}

.btnArea
{
    position: absolute;
    top : 90%;
    left : 50%;
    -ms-transform: translate(-50%, -90%);
    transform: translate(-50%, -90%);

}
.spinner-border-sm {
    width : 1.1em;
    height : 1.1em;
}

#btn-home  {
    position: fixed;
    font-size: 1.8em;
    top : 20em;
}

.viewother
{
    margin-top : 1em;
    padding : 2.8em;
    margin-bottom : 2em;
    font-size : 1.2em;
    background-image: url("../img/View Other Product icon.png");
    background-size : 15px;
    background-repeat: no-repeat;
    background-position: 2% 50%;
   

}

@media screen and (max-width: 768px) { 

.viewother
{
    padding-left : 2.3em;
    background-position: 5% 50%;
}
 }

.viewother a 
{
    text-decoration: underline;
    color : black;
}
#modelSizeDesc
{
    font-size : 20px;
}
.title
{
    font-family:'LG Smart Bold';
    font-size : 28px;
}

.snsTitle
{
    font-family:'LG Smart Bold';
    font-size : 18px;
}

.snsText
{
    font-size : 18px;
}

#sns_popup {
    position: fixed;
    left : 10%;
    top : 15%;
    width : 80%;
    height: 20em;
    background-color: white;
    border : 1px solid #eee;
}

.remove_btn {
    text-align: right;
    padding-right : 0.5em;
    padding-top : 0.5em;
}

.select_label {
    font-size : 1.2em;
    padding-top : 0.2em;
}

#selectBox {
    font-size : 1.2em;
}

#selectColor{
    font-size : 1.2em;
}

.btnHashtag {
    margin-bottom : 1.3em;
    font-size : 18px;
}