body {
    margin: 0;
    background-color: #fff;
}

canvas {
    display: block;
    height: 300px !important;
}

.container {
    width: 100%;
    text-align: center;
    position: absolute;
    height: 85px;
    top: 83px;
}

h1 {
    margin: 0;
    display: inline-block;
    font-size: 3em;
    border: 10px solid #fff;
    color: #fff;
    padding: 10px 20px;
}

.app-container {
    height: 445px;
    position: absolute;
    top: 60%;
    padding: 20px;
}

.app-container > div {
    border: 1px solid black;
    display: inline-block;
    width: 250px;
    height: 195px;
    margin: 15px 25px;
    border-radius: 5px;
    box-shadow: -8px 8px 3px gray;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a > div {
    border: 1px solid black;
    padding: 3px;
    margin: 5px 10px;
    text-align: center;
}

.qrbackdrop {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    background-color: #777;

    border: none !important;
    display: inline-block !important;
    margin: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    cursor: default !important;
}

.qrcontent {
    position: absolute;
    opacity: 1;
    left: 40%;
    top: 20%;
}

.qrcontent > img {
    width: 300px;
    height: 300px;
}
